.join-us__box {
    display: flex;
    width: 82%;
    background: theme('colors.neutral.100');
    border-radius: 12px;
    overflow: hidden;
}
.join-us__box__content {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em 0 4em;
}
.join-us__box__content h2 {
    font-size: 48px
}
.join-us__box__content p {
    font-size: 18px;
}
.join-us__box__content Button {
    margin-top: 20px;
}
.join-us__box__img {
    width: 45%
}
.join-us__box__img img{
    width: 100%;
    height: 100%;
}
