.change-password-success {
    display: flex;
    width: 90%;
    margin: 0 auto;
    text-wrap: pretty;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 3em;
}

@media screen and (min-width: 600px) {
    .change-password-success {
        gap: 5em;
    }
}
