.profile__container {
    display: grid;
    gap: 2em;
    margin: 0 35px;
}
.my-profile {
    gap: 1.5em;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.my-profile__avatar {
    display: flex;
    gap: 25px;
    width: 100%;
}
.my-profile__avatar img {
    width: 121px;
    height: 121px;
    border-radius: 8px;
    object-fit: cover;
}
.my-profile .status__box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.my-profile__info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.my-profile__info__textbox {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.my-profile__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.status--active {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #60cfa5ff;
}
.status--active img {
    width: 16px;
    height: 16px;
}
.status--inactive {
    color: #f22128ff;
}

.my-students {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

@media screen and (min-width: 600px) {
    .profile__container {
        grid-template-columns: 1fr 1fr;
        gap: 4em;
        grid-template-areas:
            'header header'
            'my-profile my-students';
    }
    .profile__container .header {
        grid-area: header;
        text-align: center;
    }
    .my-profile {
        grid-area: my-profile;
        align-items: unset;
        gap: 2em;
    }
    .my-profile__actions {
        flex-direction: row;
    }
    .my-students {
        grid-area: my-students;
        align-items: unset;
        gap: 2em;
    }
}
