.profile__container {
    display: grid;
    gap: 2em;
    margin: 0 35px;
}
.profile__container h1 {
    text-align: center;
}
.my-profile {
    gap: 1.5em;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.my-profile__avatar {
    display: flex;
    gap: 25px;
    width: 100%;
}
.my-profile__avatar img {
    width: 121px;
    height: 121px;
    border-radius: 8px;
    object-fit: cover;
}
.my-profile .status__box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.my-profile__info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.my-profile__info__textbox {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.profile__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.status--active {
    display: flex;
    align-items: center;
    gap: 6px;
    color: theme('colors.color-3.500');
}
.status--active img {
    width: 16px;
    height: 16px;
}
.status--inactive {
    color: theme('colors.danger.500');
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}
.right-container__table {
    width: 100%;
    height: 400px;
}
.ag-theme-quartz .ag-header {
    text-transform: uppercase;
}
.ag-theme-quartz .ag-header-cell,
.ag-theme-quartz-dark .ag-header-cell {
    font-weight: 700;
}
.right-container__header {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
@media screen and (min-width: 600px) {
    .profile__container {
        grid-template-columns: 1fr 1fr;
        gap: 4em;
        grid-template-areas:
            'header header'
            'my-profile right-container'
            'actions actions';
    }
    .profile__container .header {
        grid-area: header;
        text-align: center;
    }
    .my-profile {
        grid-area: my-profile;
        align-items: unset;
        gap: 2em;
    }
    .profile__actions {
        grid-area: actions;
        flex-direction: row;
    }
    .profile__actions .button--quaternary{
        margin-left: auto;
    }
    .right-container {
        grid-area: right-container;
        align-self: self-start;
    }
    .right-container__header {
        align-self: self-start;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
    }
    .right-container__table {
        width: 70%;
        align-self: flex-start;
    }
}
