.change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.change-password__form {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.change-password__form_left-box {
    display: flex;
    justify-content: center;
    gap: 1em;
}
.change-password__form_right-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border: 1px solid theme('colors.neutral.200');
    border-radius: theme('borderRadius.s');
}
.change-password__form__button-box {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    .change-password{
        width: 90%;
        align-items: flex-start;
        margin: 0 auto;
    }
    .change-password__form {
        width: 100%;
        flex-direction: row;
    }
    .change-password__form_left-box {
        align-items: flex-start;
        justify-content: flex-start;
        width: 30%;
    }
    .change-password__form_left-box img {
        width: 25px;
    }
    .change-password__form_right-box {
        width: 60%;
        padding: 1.5em;
    }
    .change-password__form__button-box{
        justify-content: flex-end;
    }
}
