.card-member {
    padding: 20px;
    display: flex;
    border-radius: theme('borderRadius.l');
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: theme('colors.neutral.100');
}
.card-member__image {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border: 5px solid theme('colors.white');
    border-radius: 87px;
    margin-top: 1em;
}
.card-member:nth-of-type(1) img {
    object-position: center -25px;
}
.card-member:nth-of-type(2) img {
    object-position: -50px;
}
.card-member:nth-of-type(3) img {
    object-position: -75px;
}
.card-member div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
}
.card-member__name {
    font-size: 1.5rem;
}
.card-member__profession {
    color: theme('colors.primary.500');
}
.card-member__description {
    color: theme('colors.neutral.650');
    max-width: 20ch;
}
