/* Button 216 */
.button {
  width: 155px; 
  height: 44px; 
  padding: 0 16px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 16px; 
  font-weight: 400; 
  line-height: 26px; 
  color: #FFFFFFFF;
  background: #6355D8FF;
  opacity: 1; 
  border: none; 
  border-radius: 6px;
  cursor: pointer;
}
/* Hover */
.button:hover {
  color: #FFFFFFFF; /* white */
  background: #4D3ED3FF; /* primary-550 */
}
/* Pressed */
.button:hover:active {
  color: #FFFFFFFF; /* white */
  background: #3D2DC7FF; /* primary-600 */
}
/* Disabled */
.button:disabled {
  opacity: 0.4; 
}