/* Button 216 */
.button {
    min-width: 100px;   
    height: 44px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffffff;
    background: #6355d8ff;
    opacity: 1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
/* Hover */
.button:hover {
    color: #ffffffff; /* white */
    background: #4d3ed3ff; /* primary-550 */
}
/* Pressed */
.button:hover:active {
    color: #ffffffff; /* white */
    background: #3d2dc7ff; /* primary-600 */
}
/* Disabled */
.button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
.button:disabled:hover {
    color: #ffffffff; /* white */
    background: #6355d8ff; /* primary-500 */
}
.button--secondary {
    color: #ffffffff; /* white */
    background: #60cfa5ff;
}
.button--secondary:hover {
    color: #ffffffff; /* white */
    background: #36b584ff; /* tertiary3-600 */
}
.button--secondary:hover:active {
    color: #ffffffff; /* white */
    background: #2f9c72ff; /* tertiary3-650 */
}
.button--tertiary {
    background: #00000000;
    color: #6355d8ff;
}
.button--tertiary:hover {
    color: #6355d8ff;
    background: #e1dff8ff;
}
.button--tertiary:hover:active {
    color: #6355d8ff; /* primary-500 */
    background: #cfcbf3ff; /* primary-200 */
}
