/* Button 216 */
.button {
    min-width: 100px;
    height: 44px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: theme('colors.white');
    background-color: theme('colors.primary.500');
    background: theme('colors.primary.500');
    opacity: 1;
    border: none;
    border-radius: theme('borderRadius.m');
    cursor: pointer;
}
/* Hover */
.button:hover {
    color: theme('colors.white'); /* white */
    background: theme('colors.primary.550'); /* primary-550 */
}
/* Pressed */
.button:hover:active {
    color: theme('colors.white'); /* white */
    background: theme('colors.primary.600'); /* primary-600 */
}
/* Disabled */
.button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
.button:disabled:hover {
    color: theme('colors.white'); /* white */
    background: theme('colors.primary.500'); /* primary-500 */
}
.button--secondary {
    color: theme('colors.white'); /* white */
    background: theme('colors.color-3.500');
}
.button--secondary:hover {
    color: theme('colors.white'); /* white */
    background: theme('colors.color-3.600'); /* tertiary3-600 */
}
.button--secondary:hover:active {
    color: theme('colors.white'); /* white */
    background: theme('colors.color-3.650');
}
.button--tertiary {
    background: theme('colors.transparent');
    color: theme('colors.primary.500');
}
.button--tertiary:hover {
    color: theme('colors.primary.500');
    background: #e1dff8ff;
}
.button--tertiary:hover:active {
    color: theme('colors.primary.500'); /* primary-500 */
    background: #cfcbf3ff; /* primary-200 */
}
