.box {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid theme('colors.neutral.400');
}
.box img {
    width: 100%;
    object-fit: cover;
    max-height: 250px;
}
.box__content {
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.box__content__tag {
    align-self: flex-start;
    color: theme('colors.primary.500');
}
.box__content__title {
    align-self: flex-start;
    font-size: 1.5em;
    font-weight: 600;
}
.box__content__footer {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    color: theme('colors.neutral.500');
}
.box__content__footer__duration {
    display: flex;
    justify-content: center;
    align-items: center;
    color: theme('colors.neutral.600');
    border: 1px solid theme('colors.neutral.650');
    border-radius: theme('borderRadius.l');
    padding: 0 6px;
    height: 28px;
}
