.sidenav__container {
    font-size: 0.8rem;
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    transition: all 0.5s ease;
}

.sidenav {
    height: 100%;
    width: 70%;
    background-color: #fff;
    overflow-x: hidden;
    box-shadow:
        0px 0px 1px #171a1f,
        0px 0px 2px #171a1f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.off__sidenav {
    width: 30%;
}
.off__sidenav button {
    cursor: unset;
    width: 100%;
    height: 100%;
}
.sidenav__top-container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    gap: 1em;
}
.sidenav__user {
    width: 100%;
    padding-left: 0.4em;
    gap: 0.5em;
    display: flex;
    align-items: center;
}
.sidenav__user__avatar {
    width: 50px;
    border-radius: 26px;
}
.sidenav__user__data {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.sidenav__user__data__email {
    overflow: hidden;
    max-width: 8.5rem;
    text-overflow: ellipsis;
}
.sidenav__user__xmark {
    align-self: flex-start;
    cursor: pointer;
}
.sidenav__list {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}
.sidenav__list__item{
    padding-left: 1em;
    height: 30px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.sidenav__list__item__button {
    color: #565e6cff;
}
.sidenav__list__item:hover {
    border-left: 2px solid #6355d8ff;
    color: #6355d8ff;
    font-weight: 600;
}
.sidenav__log {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 1em;
    padding-left: 1em;
    height: 30px;
    color: #565e6c;
    cursor: pointer;
}
.sidenav__log:hover {
    color: #6355d8;
}
