@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; /* no underline */
}
a:visited {
    color: unset; /* no purple */
}
ul,
ol,
li {
    list-style: none;
}
textarea,
input {
    font-size: 15px;
}
fieldset {
    border: unset;
}
input:focus,
button:focus,
textarea:focus {
    outline: none;
}

.header {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 78px;
    color: #171a1fff;
}
.gray {
    color: #565e6cff;
}