.registration__container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.registration__form {
    margin-top: 39px;
    max-height: 625px;
    display: flex;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}
.registration__form__img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.registration__form__subcontainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.registration__form__subcontainer__inputs {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.registration__form__subcontainer__inputs .label {
    font-size: 14px;
}

